# Day 22

### 0 떼기

In [67]:
def solution(n_str):
    i = 0
    while n_str[i] == "0":
        i += 1
    return n_str[i:]
print(solution("0010"))
print(solution("854020"))

10
854020

### 두 수의 합

In [74]:
def solution(a, b):
    sum = int(a) + int(b)
    return str(sum)
print(solution("582","734"))

1316

### 문자열로 변환

In [77]:
def solution(n):
    return str(n)
print(solution(123))

123

### 배열의 원소 삭제하기

In [80]:
def solution(arr, delete_list):
    for num in delete_list:
        if num in arr:
            arr.remove(num)
    return arr
print(solution([293, 1000, 395, 678, 94],[94, 777, 104, 1000, 1, 12]))

[293, 395, 678]

### 부분 문자열인지 확인하기

In [83]:
def solution(my_string, target):
    if target in my_string:
        return 1
    else:
        return 0
print(solution("banana","ana"))

1

# Day 23

### 부분 문자열

In [87]:
def solution(str1, str2):
    return int(str1 in str2)
print(solution("abc","aabcc"))

1

### 꼬리 문자열

In [100]:
def solution(str_list, ex):
    result = [txt for txt in str_list if ex not in txt]
    return "".join(result)
print(solution(["abc", "def", "ghi"],"ef"))
print(solution(["abc", "bbc", "cbc"],"c"))

abcghi

### 정수 찾기

In [103]:
def solution(num_list, n):
    return int(n in num_list)
print(solution([1, 2, 3, 4, 5],3))

1

### 주사위 게임 1

In [106]:
def solution(a,b):
    if a % 2 == 1 and b % 2 == 1:
        return a*a + b*b
    elif a % 2== 1 or b % 2 == 1:
        return 2*(a+b)
    else:
        return abs(a-b)
print(solution(3,5))

34

### 날짜 비교하기

In [109]:
def solution(date1, date2):
    year1, month1, day1 = date1[0], date1[1], date1[2]
    year2, month2, day2 = date2[0], date2[1], date2[2]
    if year1 < year2:
        return 1
    elif year1 == year2 and month1 < month2:
        return 1
    elif year1 == year2 and month1 == month2 and day1 < day2:
        return 1
    else:
        return 0
print(solution([2021, 12, 28],[2021, 12, 29]))

1