# Day 20

### 배열의 길이를 2의 거듭제곱으로 만들기

In [15]:
def solution(arr):
    result = []
    a = len(arr)
    i = 1
    while i < a:
        i *= 2
    result = result + arr + [0] * (i-a)
    return result
print(solution([1, 2, 3, 4, 5, 6]))

[1, 2, 3, 4, 5, 6, 0, 0]

### 배열 비교하기

In [24]:
def solution(arr1, arr2):
    a, b = len(arr1), len(arr2)
    if a > b:
        return 1
    elif a < b:
        return -1
    elif a == b:
        if sum(arr1) > sum(arr2):
            return 1
        elif sum(arr1) < sum(arr2):
            return -1
        else:
            return 0
print(solution([49, 13],[70, 11, 2]))
print(solution([100, 17, 84, 1],[55, 12, 65, 36]))
print(solution([1, 2, 3, 4, 5],[3, 3, 3, 3, 3]))

-1
1
0

### 문자열 묶기

In [49]:
def solution(strArr):
    lenArr = []
    for text in strArr:
        lenArr.append(len(text))
    freq = {}
    for num in lenArr:
        if num in freq:
            freq[num] += 1
        else:
            freq[num] = 1
    return max(freq.values())
print(solution(["a","bc","d","efg","hi"]))

2

### 배열의 길이에 따라 다른 연산하기

In [62]:
def solution(arr, n):
    if len(arr) % 2 == 0:
        for i in range(1,len(arr),2):
            arr[i] = arr[i] + n
    else:
        for j in range(0,len(arr),2):
            arr[j] = arr[j] + n
    return arr
print(solution([49, 12, 100, 276, 33],27))
print(solution([444, 555, 666, 777],100))

[76, 12, 127, 276, 60]
[444, 655, 666, 877]

### 뒤에서 5등까지

In [69]:
def solution(num_list):
    num_list = sorted(num_list)
    return num_list[:5]
print(solution([12, 4, 15, 46, 38, 1, 14]))

[1, 4, 12, 14, 15]

# Day 21

### 뒤에서 5등 위로

In [75]:
def solution(num_list):
    num_list = sorted(num_list)
    return num_list[5:]
print(solution([12, 4, 15, 46, 38, 1, 14, 56, 32, 10]))

[15, 32, 38, 46, 56]

### 전국 대회 선발 고사

In [94]:
def solution(rank, attendance):
    lst = []
    for i in range(len(attendance)):
        if attendance[i] == True:
            lst.append(rank[i])
    a = min(lst)
    lst.remove(a)
    b = min(lst)
    lst.remove(b)
    c = min(lst)
    lst.remove(c)
    A = rank.index(a)
    B = rank.index(b)
    C = rank.index(c)
    return 10000 * A + 100 * B + C
print(solution([3, 7, 2, 5, 4, 6, 1],[False, True, True, True, True, False, False]))

20403

### 정수 부분

In [97]:
def solution(flo):
    return int(flo)
print(solution(1.42))

1

### 문자열 정수의 합

In [100]:
def solution(num_str):
    lst = []
    num_lst = list(num_str)
    for i in range(len(num_lst)):
        lst.append(int(num_lst[i]))
    return sum(lst)
print(solution("123456789"))

45

### 문자열을 정수로 변환하기

In [105]:
def solution(n_str):
    return int(n_str)
print(solution("10"))

10