# Day 3

### 문자열 섞기

In [3]:
def solution(str1, str2):
    a = len(str1)
    result = ""
    for i in range(a):
        result += str1[i] + str2[i]
    return result

print(solution("aaaaa","bbbbb"))

ababababab

### 문자 리스트를 문자열로 변환하기

In [10]:
def solution(arr):
    result=''
    for i in range(len(arr)):
        result += arr[i]
    return result
print(solution(["a", "b", "c"]))

abc

### 문자열 곱하기

In [25]:
def solution(my_string, k):
    result=''
    for i in range(k):
        result += my_string
    return result
print(solution("string",3))

stringstringstring

### 더 크게 합치기

In [40]:
def solution(a, b):
    res1 = int(str(a)+str(b))
    res2 = int(str(b)+str(a))
    return max(res1, res2)

print(solution(1,23))

231

### 두 수의 연산값 비교하기

In [43]:
def solution(a, b):
    res1 = int(str(a)+str(b))
    res2 = 2 * a * b
    return max(res1, res2)

print(solution(2,91))

364

# Day 4

### n의 배수

In [47]:
def solution(num, n):
    if num % n == 0:
        return 1
    else:
        return 0
print(solution(10,3))

0

### 공배수

In [54]:
def solution(num, n, m):
    if num % n == 0 and num % m == 0:
        return 1
    else:
        return 0
print(solution(40,10,8))

1

### 홀짝에 따라 다른 값 반환하기

In [43]:
def solution(n):
    res1, res2 = 0, 0
    if n % 2 == 1:
        for i in range(n+1):
            if i % 2 == 1:
                res1 += i
        return res1
    else:
        for i in range(n+1):
            if i % 2 == 0:
                res2 += i*i
        return res2

print(solution(7))
print(solution(10))

16
220

### 조건 문자열

In [53]:
def solution(ineq, eq, n, m):
    if ineq == ">" and eq == "=":
        if n >= m:
            return 1
        else:
            return 0
    if ineq == "<" and eq == "=":
        if n <= m:
            return 1
        else:
            return 0
    if ineq == ">" and eq == "!":
        if n > m:
            return 1
        else:
            return 0
    if ineq == "<" and eq == "!":
        if n < m:
            return 1
        else:
            return 0

print(solution("<","=",40,50))

1

### flag에 따라 다른 값 변환하기

In [60]:
def solution(a, b, flag):
    if flag:
        return a + b
    else:
        return a - b

print(solution(1, 2, True))

3