# Lv. 1

### 약수의 합

In [30]:
def solution(n):
    sum = 0
    i = 1
    while i != n+1:
        if n % i == 0:
            sum += i
            i += 1
        else:
            i += 1
    return sum
print(solution(5))

6

### 자릿수 더하기

In [33]:
def solution(n):
    sum = 0
    n = str(n)
    for num in n:
        sum += int(num)
    return sum
print(solution(123))

6

### 자연수 뒤집어 배열로 만들기

In [56]:
def solution(n):
    n = list(str(n))
    n = n[::-1]
    for i in range(len(n)):
        n[i] = int(n[i])
    return n
print(solution(12345))

[5, 4, 3, 2, 1]

### 짝수와 홀수

In [59]:
def solution(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
print(solution(3))

Odd

### 평균 구하기

In [64]:
def solution(arr):
    sum = 0
    for num in arr:
        sum += num
    return sum / len(arr)
print(solution([1,2,3,4]))

2.5

### x만큼 간격이 있는 n개의 숫자

In [71]:
def solution(x, n):
    result = [x]
    for i in range(n-1):
        result.append(x+(i+1)*x)
    return result
print(solution(2, 5))

[2, 4, 6, 8, 10]

### 나머지가 1이 되는 수 찾기

In [83]:
def solution(n):
    i = 1
    while i <= n:
        if n % i == 1:
            return i
        else:
            i += 1
print(solution(10))

3

### 문자열을 정수로 바꾸기

In [90]:
def solution(s):
    return int(s)
print(solution("+1234"))

1234

### 두 정수 사이의 합

In [109]:
def solution(a, b):
    sum = 0
    if a <= b:
        for i in range(a, b+1):
            sum += i
    else:
        for i in range(b, a+1):
            sum += i
    return sum
print(solution(3,3))

3

### 문자열 내 p와 y의 갯수

In [120]:
def solution(s):
    p, y = 0, 0
    for i in range(len(s)):
        if s[i] == "p" or s[i] == "P":
            p += 1
        if s[i] == "y" or s[i] == "Y":
            y += 1
    if p == y:
        return True
    else:
        return False
print(solution("pPoooyY"))
print(solution("Pyy"))

True
False

### 정수 내림차순으로 배열하기

In [159]:
def solution(n):
    return int(''.join(sorted(str(n), reverse=True)))
print(solution(118372))

873211

### 정수 제곱근 판별

In [171]:
def solution(n):
    root = n ** 0.5
    if root.is_integer():
        return int((root+1)**2)
    else:
        return -1
print(solution(121))

144

### 하샤드 수

In [182]:
def solution(x):
    n = list(str(x))
    add = 0
    for i in range(len(n)):
        add += int(n[i])
    return x % add == 0
print(solution(11))

False

### 음양 더하기

In [189]:
def solution(absolutes, signs):
    sum = 0
    for i in range(len(signs)):
        if signs[i]:
           sum += absolutes[i]
        else:
            sum -= absolutes[i]
    return sum
print(solution([4,7,12],[True,False,True]))

9

### 없는 숫자 더하기

In [192]:
def solution(numbers):
    result = 0
    num = [1,2,3,4,5,6,7,8,9,0]
    for i in range(len(num)):
        if num[i] not in numbers:
            result += num[i]
    return result
print(solution([1,2,3,4,6,7,8,0]))

14

### 나누어 떨어지는 숫자 배열

In [195]:
def solution(arr, divisor):
    result = []
    for num in arr:
        if num % divisor == 0:
            result.append(num)
    if result == []:
        result.append(-1)
    return sorted(result)
print(solution([5, 9, 7, 10],5))

[5, 10]

### 서울에서 김서방 찾기

In [202]:
def solution(seoul):
    for i in range(len(seoul)):
        if seoul[i] == "Kim":
            return f"김서방은 {i}에 있다"
print(solution(["Jane", "Kim"]))

김서방은 1에 있다

### 콜라츠 추측

In [222]:
def solution(num):
    time = 0
    while num != 1:
        if num % 2 == 0:
            num = num / 2
            time += 1
        elif num % 2 == 1:
            num = 3 * num + 1
            time += 1
    if time > 500:
        return -1
    return time
print(solution(6))

8

### 핸드폰 번호 가리기

In [225]:
def solution(phone_number):
    return '*' * (len(phone_number)-4) + phone_number[-4:]
print(solution("01033334444"))

*******4444

### 가운데 글자 가져오기

In [251]:
def solution(s):
    if len(s) % 2 == 0:
        return s[int((len(s) / 2) - 1):int((len(s) / 2) + 1)]
    else:
        return s[int(len(s)/2)]
print(solution("abcde"))
print(solution("qwer"))

c
we